


<form method="POST"  class="canvas">
<input placeholder="Email" autofocus class="input-main"/>
<input placeholder="Password" class="input-main"/>

<button class='button-main'>Login</button>

<a href="#">Sign Up</a>
</form>
