<div class='home'>

<div id='welc' class="welcome">
  <h1>Welcome</h1>
  <p id='info'>Manage and Log in your incident ticket</p>
  <h3 id='yname'>But first, Enter your Email address ?</h3>
    <input id='yemail' type="text" autofocus />
<a href='#' id='link' onclick="emailQuery()"><div class='button' ><p>Get Started </p></div></a>
    
</div>

</form>
</div>

</div>