


<div  class="signup " id="sign">
    
<form method="POST"  action="/user/new" >
<h3>You seem not to have Registered before now? </h3>
<h3>Please Register Now</h3>
  <input name="firstname" type="text"placeholder="Firstname" class="input-sign"/>
  <input name="lastname" type="text"placeholder="Lastname" class="input-sign"/>
       <select name="dept" id="dept_list" class='input-sign'>
         <option>Choose your Department</option>
        <option value="Prepress">Prepress</option>
        <option value="Press">Press</option>
        <option value="Postpress">Postpress</option>
        <option value="Estimating">Estimating</option>
        <option value="HR">HR</option>
        <option value="Finance">Finance</option>
        <option value="ICT">ICT</option>
        <option value="Graphics">Graphics</option>
        <option value="Store">Store</option>
        <option value="OFMD">OFMD</option>
        <option value="Purchasing">Purchasing</option>
      </select>
  <input name="email" type='email' placeholder="Email" autofocus class="input-sign"/>
  <input name="password" type='password' placeholder="Password" class="input-sign"/>
  <input type='password' placeholder="Confirm Password" class="input-sign"/>

<input id="" type='submit'>

</form>
</div>
<!--<a  onclick="slideIn()">Sign Up</a>
    